    <footer class="footer py-6 text-dark">
        <div class="container">
            <div class="row">
                <div class="col mb-md-0">
                    <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center">
                        <img src="assets/img/brand/logo.png" height="35" class="mb-4" alt="Themesberg Logo">
                    </a>
                    <div class="text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="fw-normal font-small mb-0">
                            Copyright © CoinNow 2019-
                            <span class="current-year">2021</span>.
                            All rights reserved.
                        </p>
                    </div>
                    <div class="text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="fw-normal font-small mb-0 pt-4">
                            <span class="p-2"><i class="fab fa-facebook fa-2x"></i></span>
                            <span class="p-2"><i class="fab fa-instagram fa-2x"></i></span>
                            <span class="p-2"><i class="fab fa-twitter fa-2x"></i></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    <script src="assets/js/custom.js"></script>
</body>
</html>
